<!DOCTYPE html>
<html>
    <head>
        <title>Ethical Hacking</title>
        <h1 align="center">Questions</h1>
    </head>
    <body>
        <form method="post" id="score">
            {% csrf_token %}
            <ol>
                <li>Q1</li>
                <label>
                <input type="radio" name="q1"  value="1"> 1
                <input type="radio" name="q1"  value="2"> 2
                <input type="radio" name="q1"  value="3"> 3
                <input type="radio" name="q1"  value="4"> 4
                </label>
				
				<li>Q2</li>
                <label>
                <input type="radio" name="q2"  value="1"> 1
                <input type="radio" name="q2"  value="2"> 2
                <input type="radio" name="q2"  value="3"> 3
                <input type="radio" name="q2"  value="4"> 4
                </label>
				
				<li>Q3</li>
                <label>
                <input type="radio" name="q3"  value="1"> 1
                <input type="radio" name="q3"  value="2"> 2
                <input type="radio" name="q3"  value="3"> 3
                <input type="radio" name="q3"  value="4"> 4
                </label>
				
				<li>Q4</li>
                <label>
                <input type="radio" name="q4"  value="1"> 1
                <input type="radio" name="q4"  value="2"> 2
                <input type="radio" name="q4"  value="3"> 3
                <input type="radio" name="q4"  value="4"> 4
                </label>
				
				<li>Q5</li>
                <label>
                <input type="radio" name="q5"  value="1"> 1
                <input type="radio" name="q5"  value="2"> 2
                <input type="radio" name="q5"  value="3"> 3
                <input type="radio" name="q5"  value="4"> 4
                </label>
				
				<li>Q6</li>
                <label>
                <input type="radio" name="q6"  value="1"> 1
                <input type="radio" name="q6"  value="2"> 2
                <input type="radio" name="q6"  value="3"> 3
                <input type="radio" name="q6"  value="4"> 4
                </label>
				
				<li>Q7</li>
                <label>
                <input type="radio" name="q7"  value="1"> 1
                <input type="radio" name="q7"  value="2"> 2
                <input type="radio" name="q7"  value="3"> 3
                <input type="radio" name="q7"  value="4"> 4
                </label>
				
				<li>Q8</li>
                <label>
                <input type="radio" name="q8"  value="1"> 1
                <input type="radio" name="q8"  value="2"> 2
                <input type="radio" name="q8"  value="3"> 3
                <input type="radio" name="q8"  value="4"> 4
                </label>
				
				<li>Q9</li>
                <label>
                <input type="radio" name="q9"  value="1"> 1
                <input type="radio" name="q9"  value="2"> 2
                <input type="radio" name="q9"  value="3"> 3
                <input type="radio" name="q9"  value="4"> 4
                </label>
				
				<li>Q10</li>
                <label>
                <input type="radio" name="q10"  value="1"> 1
                <input type="radio" name="q10"  value="2"> 2
                <input type="radio" name="q10"  value="3"> 3
                <input type="radio" name="q10"  value="4"> 4
                </label>
				
            </ol>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm" align="center">
                    <button type="submit" class="btn btn-default">SUBMIT</button>
                </div>
            </div>
        </form>
    </body>
</html>